body:before{
    position: absolute;
    content: "";
width: 1347px;
height: 500px;


background: linear-gradient(rgb(255, 255, 255)  63%, rgb(0, 0, 0));
opacity: 0.5;
}
.nav-link:hover{
    margin-top: -2px;
    border-bottom: 1px solid  white;
 
}

h1{
    font-size: 18px;
    color: white;
    font-style: unset;
}
.navbar .fa{
color: rgb(255, 255, 255);
}
h2{
    font-size: 18px;
    color: white;
    font-style: unset;
}

.parte{
    height: 170px;
    background-color: rgba(255, 255, 255, 0.897);
}
